body {
  background-color: #455A64;
  display:flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  font-family: 'Ubuntu', sans-serif;
}

.card {
  background-color: #CFD8DC;
  width: 30%;
  margin: 20px 5% 20px 5%;
  
 
}

.card-title {
  border: 1px solid #607D8B;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.card-text {
  text-align: justify;
  font-size: small;
}

footer {
  font-size: xx-small;
  padding-left: 4px;
}
h6 {
  font-size: small;
  margin-top:auto;
  margin-bottom: auto;
}

.availability {
  background-color: #607D8B;
  color: #FF5722;
  text-shadow: 0px 0px #FF5722;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2px;
}

.specifications, .pricing {
  font-weight: bold;
  font-size: small;
}

.specifications > h5 {
  padding-left: 4px;
}

.pricing > header > h5 {
  padding-left: 4px;
}

li {
  font-size: x-small;
}

img {
  border-radius: 5px;
  position: relative;
  top: 0;
  left: 0;
}
 
.sold-out {
   position: absolute; 
}
